@import './theme.scss';

.wrapper {
    padding-top: $padding;
    margin: auto;
    width: 75%;
    color:white;
}

.seperator{
    display:block;
    height: 2px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#777), to(#111));
    width: 100%;
}

.accordion{
    width: 100%;
    margin: auto;
    cursor: pointer;
    text-align: center;
    padding-top: $padding;
    padding-bottom: $padding;
    background-color: $theme-background;
    color: white;
    font-size: $font-size-m * 0.8;
    transition: font-size 0.2s ease;
}

.shown{
    height: auto;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: $padding;
    padding-bottom: $padding;
    margin: 0;
}

.hidden {
    text-align: center;
    margin: 0;
    height: 0px;
    display:none;
}