@import './theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.search{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    padding-right: 32px;
    input{
        width: 160px;
        height: 22px;
        background-color: rgba(17,17,17,0.1);
        color:$theme-color;
        border:none;
        font-size: $font-size-s;
        border-bottom: solid 2px $theme-color;
        font-family: 'Pathway Gothic One', sans-serif;

    }
    @media screen and (max-width: 660px){
        width:auto;
        margin:auto;
        grid-template-columns: 1fr 0.1fr;
        justify-content: center;
        align-items: center;
        padding:0;

        input{
            width: auto;
        }
    }

    input::placeholder{
        color:$theme-color;
        font-family: 'Pathway Gothic One', sans-serif;
    }

    input:active{
        outline: none;
    }
    input:focus{
        border-color: white;
        outline: none;
    }

    button{
        margin-left:8px;
        background-color:rgba(0,0,0,0);
        outline: none;
        border:none;
        font-size: $font-size-m;
        line-height: 2px;
        color: $theme-color;
    }

    button:active{
        color:white;

    }
}